<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Technical Cosmic Verse</title>
  
   <script src="~/Content/js/jquery-1.10.2.min.js" ></script>
      <link href="~/Content/Css/kendo.common.min.css" rel="stylesheet" />
  <link href="~/Content/Css/kendo.rtl.min.css" rel="stylesheet" />
  <link href="~/Content/Css/kendo.dataviz.default.min.css" rel="stylesheet" />
  <link href="~/Content/Css/kendo.dataviz.min.css" rel="stylesheet" />
  
     <link href="~/Content/Css/kendo.default.min.css" rel="stylesheet" />
       

         <link href="~/Content/site.css" rel="stylesheet"/>

        <script src="~/Scripts/modernizr-2.5.3.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>

         <script>

             $(document).ready(function () {
                 $("a").click(function (event) {
                     // Capture the href from the selected link...
                     var link = this.href;

                     $.ajax({
                         type: 'POST',
                         url: "/Home/LinkHit",
                         data: {
                             'link': link
                         },
                         dataType: 'json'

                     });
                 });

             });

             //$.ajax({
             //    type: 'POST',
             //    url: "/Home/LinkHit",
             //    data: {
             //        'link': link, 'countrycode': countrycode, 'countryname': countryname, 'city': city, 'ip': ip, 'regioncode': regioncode, 'regionname': regionname, 'areacode': areacode, 'longitude': longitude,'latitude': latitude, 'zipcode': zipcode
             //    },
             //    dataType: 'json'
             // do something if required....
             // would prevent the link from executing, if that is something you want to do...
             // return false; // not needed if you want the link to execute normally...

   </script>
       @* @System.Web.Optimization.Styles.Render("~/Content/css")
        @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")*@
    </head>
    <body>
        
        <div id="body">
            @Html.Partial("_Header")
                       <br />
             <br />
             <br />
            <div style="margin-left:250px;margin-right:300px;margin-bottom:150px">
            <section >
                @RenderBody()
            </section>
                </div>
        </div>
       @Html.Partial("_Footer")     
        @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
